.forgot-password__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.forgot-password__bg::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color-2);
	opacity: 0.75;
	z-index: 1;
}

.forgot-password__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding-bottom: 50px;
}

.forgot-password__box {
	background-color: var(--secondary-color);
	border-radius: 20px;
	padding: 40px;
	width: 450px;
	margin: 0 auto;
	margin-top: 150px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	z-index: 2;
}

.forgot-password__title {
	padding-bottom: 20px;
	text-align: center;
	color: var(--text-color);
	font-size: 2rem;
}

.forgot-password__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.forgot-password__form input {
	width: 370px;
}

.forgot-password__button {
	width: 100%;
	text-align: center;
	background-color: var(--background-color);
	color: var(--secondary-color);
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.forgot-password__error {
	color: var(--error-color);
	margin-top: 10px;
}

.forgot-password__back-link {
	color: var(--background-color);
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
}

.forgot-password__back-link:hover {
	text-decoration: none;
	color: var(--background-color);
}

/* Media Query for Mobile Screens */
@media (max-width: 500px) {
	.forgot-password__box {
		width: 90%;
	}

	.forgot-password__form input {
		width: 100%;
	}
}
