.dash-layout {
	position: relative;
	overflow: hidden;
	background: linear-gradient(
		to bottom,
		var(--secondary-color),
		var(--tertiary-color),
		var(--secondary-color),
		var(--tertiary-color)
	);
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.dash-layout-main-content {
	flex: 1;
}