.profile-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.profile-section__header {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.profile-section__profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 1rem;
}

.profile-section__stats {
	display: flex;
	align-items: flex-start;
}

.profile-section__stat {
	display: flex;
	flex-direction: column;
	margin-right: 2rem;
}

.profile-section__stat-value {
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--secondary-color);
	text-align: center; /* Added */
}

.profile-section__stat-label {
	font-size: 1.4rem;
	color: var(--accent-color-2);
	text-align: center; /* Added */
}

.profile-section__info {
	margin-bottom: 1rem;
}

.profile-section__name {
	font-size: 2rem;
	font-weight: bold;
	color: var(--secondary-color);
	margin-bottom: 0.5rem;
}

.profile-section__username {
	font-size: 1.6rem;
	color: var(--accent-color-1);
	margin-bottom: 0.5rem;
}

.profile-section__bio {
	font-size: 1.4rem;
	color: var(--accent-color-2);
	margin-bottom: 0.5rem;
}

.profile-section__social-link {
	font-size: 1.4rem;
	color: var(--accent-color-1);
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.profile-section__social-link:hover {
	text-decoration: underline;
	cursor: pointer;
}
